:ruby
  @lorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
  laborum."

%div(data-bindable="collapse" data-behavior="checkbox" role="tab")
  %a.collapse-toggle(href="#collapse_height") Single Collapse
  %section.collapse#collapse_height(role="tabpanel")
    %article
      -(1..3).each do |i|
        %p=@lorem

%div(data-bindable="collapse" data-behavior="checkbox" data-activate="true" role="tab")
  %a.collapse-toggle(href="#collapse_auto" role="tab") Single Auto Shown
  %section.collapse#collapse_auto(role="tabpanel")
    %article
      %p=@lorem

%hr
%nav(role="navigation")
  %ul#collapse_radio(data-bindable="collapse" data-activate="true" role="tablist")
    -(1..3).each do |i|
      %li
        %a.collapse-toggle(href="#collapse_radio_#{i}" role="tab") Radio Collapse #{i} <span>Span</span>
        %section.collapse(id="collapse_radio_#{i}" role="tabpanel")
          %article
            %p=@lorem
            %ul#collapse_inner(data-bindable="collapse" role="tablist")
              -(1..3).each do |x|
                %li
                  %a.collapse-toggle(href="#collapse_inner_#{x}_#{i}" role="tab") Radio Collapse Inner #{x}_#{i} <span>Span</span>
                  %section.collapse(id="collapse_inner_#{x}_#{i}" role="tabpanel")
                    %article
                      %p=@lorem

%hr
%nav(role="navigation")
  %ul#collapse_checkbox(data-bindable="collapse" data-behavior="checkbox" data-activate="1" role="tablist")
    -(1..3).each do |i|
      %li
        %a.collapse-toggle(href="#" data-target="#collapse_check_#{i}" role="tab") Checkbox Collapse #{i}
        %section.collapse(id="collapse_check_#{i}" role="tabpanel")
          %article
            %p=@lorem

%hr
%nav(role="navigation")
  %ul#collapse_external(data-bindable="collapse" data-behavior="checkbox" role="tablist")
    -(1..3).each do |i|
      %li
        %a.collapse-toggle(href="#collapse_external_#{i}" role="tab") External Checkbox Collapse #{i}

  -(1..3).each do |i|
    %section.collapse(id="collapse_external_#{i}" role="tabpanel")
      %article
        %p<
          %strong Collapse External Pane #{i}
        %p=@lorem

